<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>jQuery Wookmark Plug-in Example</title>
  <meta name="description" content="An very basic example of how to use the Wookmark jQuery plug-in.">
  <meta name="author" content="Christoph Ono, Sebastian Helzle">

  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  {% load staticfiles %}

   <!--CSS Reset 
  <link rel="stylesheet" href="/Users/admin/Downloads/first_app/myproject//css/reset.css">
  
   Global CSS for the page and tiles 
  <link rel="stylesheet" href="/Users/admin/Downloads/first_app/myproject//css/main.css">
  -->

  <link rel="stylesheet" href="{% static 'css/reset.css' %}">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
  
   <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/navbar-fixed-top.css' %}" rel="stylesheet">
  
  
</head>

<body>


   
  <!-- Fixed navbar 
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      <!--</div>
    </div>-->
    <div class="container">
      <div class="row">
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" rel="home" href="<?= base_url();?>" title="Buy Sell Rent Everyting">Unbxd</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <div class="col-sm-6 col-md-6">
                <form class="navbar-form" role="search" method="get" action="/search"id="search-form" name="search-form">
                    <div class="btn-group pull-left" style="margin-right:10px;">
                  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#" value="arjun"><span class="caret"></span></a>
                    <div class="dropdown-menu multi">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4">
                                  <ul class="dropdown-menu" id="dropDown"><li><a href="#"><strong>Mumbai</strong></a></li>
                                  <li><a href="#"><strong>Mumbai</strong></a></li>
                                  <li><a href="#"><strong>Mumbai</strong></a></li>
                                  <li><a href="#"><strong>Mumbai</strong></a></li>
                                  </ul>
                                </div>
                            </div>
                          </div>
                    </div>    
                </div>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for Products" id="query" name="query" value="">
                          <div class="input-group-btn">
                        <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                        </div>
                    </div>
                  </form>
                </div>
            <ul class="nav navbar-nav navbar-right">
              <li><a data-toggle="modal" href="#" data-target="#">Login</a></li>
              <li><a data-toggle="modal" href="#" data-target="#">Register</a></li>
            </ul>
            </div>
        </div>        
      </div>  
    </div> 

  <div id="container">
    <header>
      <h1>jQuery Wookmark Plug-in Example</h1>
      <p>Resize the browser window or click a grid item to trigger layout updates.</p>
    </header>
    <div id="main" role="main">

      <ul id="tiles">
         {% for i in iSource %}
         <li><img src= {{i}} class="img-rounded" height="200" width="200"/></li>
         {% endfor %}   
          
           
      </ul>

    </div>
  </div>

  <!-- include jQuery 
  <script src="jquery.min.js"></script>
  
  <!-- Include the plug-in 
  <script src="jquery.wookmark.js"></script> -->

    <script src="{% static 'javascripts/jquery.min.js' %}"></script>
    <script src="{% static 'javascripts/jquery.wookmark.js' %}"></script>


  <!-- Once the page is loaded, initalize the plug-in. -->
  <script type="text/javascript">
    (function ($){
      var handler = $('#tiles li');

      handler.wookmark({
          // Prepare layout options.
          autoResize: true, // This will auto-update the layout when the browser window is resized.
          container: $('#main'), // Optional, used for some extra CSS styling
          offset: 10, // Optional, the distance between grid items
          outerOffset: 10, // Optional, the distance to the containers border
          itemWidth: 210 // Optional, the width of a grid item
      });

      // Capture clicks on grid items.
      handler.click(function(){
        // Randomize the height of the clicked item.
        var newHeight = $('img', this).height() + Math.round(Math.random() * 300 + 30);
        $(this).css('height', newHeight+'px');

        // Update the layout.
        handler.wookmark();
      });
    })(jQuery);
  </script>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
 <script src="{% static 'javascripts/bootstrap.min.js' %}"></script>
</body>
</html>
