


/* Grid containing columns of 20px each*/
    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,
	.col-xs-11,.col-xs-12,.col-xs-13,.col-xs-14,.col-xs-15,.col-xs-16,.col-xs-17,.col-xs-18,.col-xs-19,.col-xs-20,
	.col-xs-21,.col-xs-22,.col-xs-23,.col-xs-24,.col-xs-25,.col-xs-26,.col-xs-27,.col-xs-28,.col-xs-29,.col-xs-30,
	.col-xs-31,.col-xs-32,.col-xs-33,.col-xs-34,.col-xs-35,.col-xs-36,.col-xs-37,.col-xs-38,.col-xs-39,.col-xs-40,
	.col-xs-41,.col-xs-42,.col-xs-43,.col-xs-44,.col-xs-45,.col-xs-46,.col-xs-47,.col-xs-48,.col-xs-49,.col-xs-50,
	.col-xs-51,.col-xs-52,.col-xs-53,.col-xs-54,.col-xs-55,.col-xs-56,.col-xs-57,.col-xs-58,.col-xs-59,.col-xs-60,
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
	.col-sm-11,.col-sm-12,.col-sm-13,.col-sm-14,.col-sm-15,.col-sm-16,.col-sm-17,.col-sm-18,.col-sm-19,.col-sm-20,
	.col-sm-21,.col-sm-22,.col-sm-23,.col-sm-24,.col-sm-25,.col-sm-26,.col-sm-27,.col-sm-28,.col-sm-29,.col-sm-30,
	.col-sm-31,.col-sm-32,.col-sm-33,.col-sm-34,.col-sm-35,.col-sm-36,.col-sm-37,.col-sm-38,.col-sm-39,.col-sm-40,
	.col-sm-41,.col-sm-42,.col-sm-43,.col-sm-44,.col-sm-45,.col-sm-46,.col-sm-47,.col-sm-48,.col-sm-49,.col-sm-50,
	.col-sm-51,.col-sm-52,.col-sm-53,.col-sm-54,.col-sm-55,.col-sm-56,.col-sm-57,.col-sm-58,.col-sm-59,.col-sm-60,
	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,
	.col-md-11,.col-md-12,.col-md-13,.col-md-14,.col-md-15,.col-md-16,.col-md-17,.col-md-18,.col-md-19,.col-md-20,
	.col-md-21,.col-md-22,.col-md-23,.col-md-24,.col-md-25,.col-md-26,.col-md-27,.col-md-28,.col-md-29,.col-md-30,
	.col-md-31,.col-md-32,.col-md-33,.col-md-34,.col-md-35,.col-md-36,.col-md-37,.col-md-38,.col-md-39,.col-md-40,
	.col-md-41,.col-md-42,.col-md-43,.col-md-44,.col-md-45,.col-md-46,.col-md-47,.col-md-48,.col-md-49,.col-md-50,
	.col-md-51,.col-md-52,.col-md-53,.col-md-54,.col-md-55,.col-md-56,.col-md-57,.col-md-58,.col-md-59,.col-md-60,
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
	.col-lg-11,.col-lg-12,.col-lg-13,.col-lg-14,.col-lg-15,.col-lg-16,.col-lg-17,.col-lg-18,.col-lg-19,.col-lg-20,
	.col-lg-21,.col-lg-22,.col-lg-23,.col-lg-24,.col-lg-25,.col-lg-26,.col-lg-27,.col-lg-28,.col-lg-29,.col-lg-30,
	.col-lg-31,.col-lg-32,.col-lg-33,.col-lg-34,.col-lg-35,.col-lg-36,.col-lg-37,.col-lg-38,.col-lg-39,.col-lg-40,
	.col-lg-41,.col-lg-42,.col-lg-43,.col-lg-44,.col-lg-45,.col-lg-46,.col-lg-47,.col-lg-48,.col-lg-49,.col-lg-50,
	.col-lg-51,.col-lg-52,.col-lg-53,.col-lg-54,.col-lg-55,.col-lg-56,.col-lg-57,.col-lg-58,.col-lg-59,.col-lg-60
	{
		position:relative;min-height:1px;padding-right:15px;padding-left:15px;
	}
    .col-xs-1,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9,.col-xs-10,
	.col-xs-11,.col-xs-12,.col-xs-13,.col-xs-14,.col-xs-15,.col-xs-16,.col-xs-17,.col-xs-18,.col-xs-19,.col-xs-20,
	.col-xs-21,.col-xs-22,.col-xs-23,.col-xs-24,.col-xs-25,.col-xs-26,.col-xs-27,.col-xs-28,.col-xs-29,.col-xs-30,
	.col-xs-31,.col-xs-32,.col-xs-33,.col-xs-34,.col-xs-35,.col-xs-36,.col-xs-37,.col-xs-38,.col-xs-39,.col-xs-40,
	.col-xs-41,.col-xs-42,.col-xs-43,.col-xs-44,.col-xs-45,.col-xs-46,.col-xs-47,.col-xs-48,.col-xs-49,.col-xs-50,
	.col-xs-51,.col-xs-52,.col-xs-53,.col-xs-54,.col-xs-55,.col-xs-56,.col-xs-57,.col-xs-58,.col-xs-59
	{
		float: left;
	}
.col-xs-1{width:1.666666666666667%;}.col-xs-2{width:3.333333333333333%;}.col-xs-3{width:5%;}
.col-xs-4{width:6.666666666666667%;}.col-xs-5{width:8.333333333333333%;}.col-xs-6{width:10%;}
.col-xs-7{width:11.66666666666667%;}.col-xs-8{width:13.33333333333333%;}.col-xs-9{width:15%;}
.col-xs-10{width:16.66666666666667%;}.col-xs-11{width:18.33333333333333%;}.col-xs-12{width:20%;}
.col-xs-13{width:21.66666666666667%;}.col-xs-14{width:23.33333333333333%;}.col-xs-15{width:25%;}
.col-xs-16{width:26.66666666666667%;}.col-xs-17{width:28.33333333333333%;}.col-xs-18{width:30%;}
.col-xs-19{width:31.66666666666667%;}.col-xs-20{width:33.33333333333333%;}.col-xs-21{width:35%;}
.col-xs-22{width:36.66666666666667%;}.col-xs-23{width:38.33333333333333%;}.col-xs-24{width:40%;}
.col-xs-25{width:41.66666666666667%;}.col-xs-26{width:43.33333333333333%;}.col-xs-27{width:45%;}
.col-xs-28{width:46.66666666666667%;}.col-xs-29{width:48.33333333333333%;}.col-xs-30{width:50%;}
.col-xs-31{width:51.66666666666667%;}.col-xs-32{width:53.33333333333333%;}.col-xs-33{width:55%;}
.col-xs-34{width:56.66666666666667%;}.col-xs-35{width:58.33333333333333%;}.col-xs-36{width:60%;}
.col-xs-37{width:61.66666666666667%;}.col-xs-38{width:63.33333333333333%;}.col-xs-39{width:65%;}
.col-xs-40{width:66.66666666666667%;}.col-xs-41{width:68.33333333333333%;}.col-xs-42{width:70%;}
.col-xs-43{width:71.66666666666667%;}.col-xs-44{width:73.33333333333333%;}.col-xs-45{width:75%;}
.col-xs-46{width:76.66666666666667%;}.col-xs-47{width:78.33333333333333%;}.col-xs-48{width:80%;}
.col-xs-49{width:81.66666666666667%;}.col-xs-50{width:83.33333333333333%;}.col-xs-51{width:85%;}
.col-xs-52{width:86.66666666666667%;}.col-xs-53{width:88.33333333333333%;}.col-xs-54{width:90%;}
.col-xs-55{width:91.66666666666667%;}.col-xs-56{width:93.33333333333333%;}.col-xs-57{width:95%;}
.col-xs-58{width:96.66666666666667%;}.col-xs-59{width:98.33333333333333%;}.col-xs-60{width:100%;}
/*common mobile */
.pad-0
{
	padding: 0;
}
.pad-5
{
	padding: 5px;
}
.mrgn-0
{
	margin:0;
}
.mar-top-80
{
	margin-top: 80px;
}
.mar-rgt-119
{
	margin-right: 119px;
}
.col-right-m60
{
	margin-right:30px;
}
.mar-top-20
{
	margin-top: 20px;
}
.mar-top-40
{
	margin-top: 40px;
}
.mar-rgt-60
{
	margin-right: 60px;
}
.mar-rgt-40
{
	margin-right: 40px;
}
.footer-block
{
	background-color: #d9d9d9;
}
/*home mobile */
.home-text{
	background-color:#d9d9d9;
	padding: 5px 0px;
	text-align: center;
	border:1px solid #7f7f7f;
	margin-top:5px;
}
.home-border{
	border-bottom:1px solid #7f7f7f;
}

.navbar-aggregator
{
	background-color: #7f7f7f;
}
.stick
{
	position: fixed; 
	top:0;
	z-index: 999;
}
.footer-top
{
	padding:80px 0px;
}
.top-about
{
	/*font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
	color: #1a1c1c;
	font-weight: 700;*/
font-size: 16px;
font-weight: bold;
margin-bottom: 20px;
color: #1a1c1c;
font-weight: 700;
border-bottom: 1px solid #1a1c1c;	
width:57px;
}
.bottom-about
{
	font-size: 15px;
	line-height: 16pt;
	color: #7f7f7f;
	
	font-weight:400;
}
.main-header
{
	
	padding: 20px 40px;
	background-color: #d9d9d9;
	/*background-color: #f5f5f5;*/
	
	
}
.main-logo
{
	border:1px solid #7f7f7f;
	height: 40px;
	margin-left:40px;
}
.button-blue
{
	width:140px;
    padding: 7px 0px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  /* background-color: rgb(90,147,248);*/
    background: linear-gradient(to bottom,#007fb8 1%,#6ebad5 3%,#007fb8 7%,#007fb8 100%);
    font-size: 16px;
    text-align: center;
   
}

.signup-text
{
	margin-top:8px;
}


.full-width
{
	width:100%;	
}
.fixed-width
{
	float: none;
 	margin: 0px auto;
}
.with-border
{
	border-top: 2px solid #1a1c1c;
	border-bottom: 2px solid #1a1c1c;
}
nav {float:left;width:auto;}
nav ul {text-align:center;}
nav ul li {float:left;display:inline;color: red !important;font-size: 12px;font-weight: bold;}
nav ul li:first-child, nav ul li:nth-child(5), nav ul li:nth-child(9){
	margin-left: -20px;
}
nav ul li ul li:first-child a, nav ul li ul li:nth-child(2) a, nav ul li ul li:nth-child(3) a, nav ul li ul li:nth-child(4) a{
	font-weight: bold;
	font-size: 12px;
}
nav ul li:hover {background:#fff;border-radius: 2px 2px 0 0;box-shadow:inset 1px 1px 1px 1px #f0f0f0;}
nav ul li:hover a{text-decoration: none !important;color: #7f7f7f;}
nav ul li a {display:block;padding:15px 25px;color:#fff;}
nav ul li ul {position:absolute;width:480px;background:#fff;left:0;
border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; z-index:999; box-shadow: 0 4px 6px -1px rgba(0,0,0,0.4);
padding: 10px 0px 10px 40px;}
nav ul li ul li {margin:0;padding:5px;width:110px;box-shadow:none !important;}
nav ul li ul li a {display:block;padding:5px;color:#444;font-size:11px;font-weight: normal; text-align: left;}
nav ul li ul li:hover a {text-decoration: none !important;background-color: #d9d9d9;}
nav ul li ul.fallback {display:none;}
nav ul li:hover ul.fallback {display:block;}
nav ul li ul li:first-child:hover a, nav ul li ul li:nth-child(2):hover a, nav ul li ul li:nth-child(3):hover a, nav ul li ul li:nth-child(4):hover a{
	background-color: #fff;
}
.input-label
{
	margin:0px auto;
	width: 340px;
	border-top: 1px solid #7f7f7f;
	border-top-left-radius:  5px;
	border-top-right-radius: 5px;
	
}

.input-inner
{
	width:340px;
	height: 35px;
	border: 1px solid #d9d9d9;
	border-radius: 5px;
	margin-bottom: 20px;
	background-color: #fff;
	padding-left:10px;
	font-size: 16px;
	color: #1a1c1c;
}
input[type="text"]:focus
	 {
	 	outline:none;
	 }
 input[type="email"]:focus
	 {
	 	outline:none;
	 }
input[type="password"]:focus
	 {
	 	outline:none;
	 }
	 input[type="tel"]:focus
	 {
	 	outline:none;
	 }
.content1
{
	padding:40px 0px 0px 0px;
}
.content3, .content4
{
	padding: 40px 0px 60px 0px;
}

.round-outer
{
	width:247px !important;
	height:247px;
	border-radius: 50%;
	/*border: 1px solid #1a1c1c;*/
	padding:5px;
	
}
.round-inner
{
	width:235px !important;
	height:235px;
	border-radius: 50%;
	/*border: 1px solid #1a1c1c;*/
	/*padding-top: 105px;*/
	text-align: center;
	font-size: 18px;	
}

.image1-introduce
{
	
	height:400px;
	background-color: #fff;
	border: 1px solid #7f7f7f;
	
}
.image2-introduce
{
	
	height:195px;
	background-color: #fff;
	border: 1px solid #7f7f7f;
}
.image3-introduce
{
	
	height:195px;
	background-color: #fff;
	border: 1px solid #7f7f7f;
}
.image4-introduce
{
	
	height:195px;
	background-color: #fff;
	border: 1px solid #7f7f7f;
}
.logo-head
{
	text-align: center;
	margin-bottom: 40px;
}
.logo-block
{
	border: 1px solid #000;
	height: 60px;
	padding-top:18px;
	text-align: center;
	background-color: #fff;
}
.breadcrumb-block
{
	padding: 0px 0px 20px 0px;
}
.breadcrumb-link
{
	color: #7f7f7f !important;
	font-size: 14px;
	text-align: left;
}
.active
{
	color: rgb(90,147,248) !important; 
}
.breadcrumb-arrow
{
	
	float: left;
	width:20px;
	text-align: center;
}
/* category mobile*/
.ui-slider {
	position: relative;
	text-align: left;
	
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	height: 1.2em;
	cursor: default;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

.ui-slider-horizontal .ui-slider-handle {
	top: -.3em;
	margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}


.ui-widget-content {
	height: 10px;
	background: #d1d5d7; 
	border-radius:5px;
	color: #d9d9d9/*{fcContent}*/;
	cursor: pointer;
	
}

.ui-widget-header {
	background: #7f7f7f;
border-radius:5px;
cursor: pointer;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	 -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 20px;
background: #1a1c1c;
border: 1px solid #1a1c1c;
  width: 15px;
  height: 15px;
  margin-top: 1px;
  outline:0;
  cursor: pointer;
}

.slider-range-max
{
	float: none !important;
	margin-left:auto;
	margin-right: auto;
}
.amount
{
	border:0;outline:0;
	 color:#1a1c1c;margin-top: 10px;
	 text-align: center;
font-family: proxima-nova,Arial, sans-serif;
 font-size: 13px;
 background-color: #f0f0f0;
}
.amount-text
{
font-weight: normal;	
font-family: proxima-nova,Arial, sans-serif;
font-size: 13px;
margin-left:2px;
}
.img-desc
{
	padding: 10px 10px 10px 25px;
	color: #7f7f7f;
	background-color:#fff;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 100%;
}
.left-nav
{
	padding: 0px;
	
}
.left-nav-main-head
{
	text-align: center;
	margin-bottom: 40px;
	font-size: 12px;
}
.left-nav-head
{
	
	margin: 0px 0px 5px 0px;
	font-size: 12px;
	padding: 5px 0px 5px 10px;
	color: #1a1c1c;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	 background: #7f7f7f url('../img1/arrow-down.png') no-repeat 95%;
}
.left-nav-block
{
	/*margin-bottom: 40px;*/
	
	
}

.left-nav-content
{
	font-size: 14px;
	border: 1px solid #d9d9d9;
	width:202px;
	padding: 10px 0px 0px 10px;
	margin-bottom: 10px;
	background-color: #fff;
}
.checkbox-nav
{
	margin-right: 10px;
}
.nav-scroll
{
	height: 342px; overflow-y: scroll;
}
.mid-content-head
{
text-align: center;	
margin-bottom: 40px;
}
.mid-content
{
	margin-top: 40px;
}
.col1-cont
{
	border-radius: 3px;
	padding:0;
	border: 1px solid #d9d9d9;
	margin-bottom: 10px;
	
}
.col1-cont1-img1, .col1-cont1-img2
{
	border-top-left-radius: 3px !important;
	border-top-right-radius: 3px !important;
	width:226px;
	
	height:200px;
	border: none;
}
.col1-cont1-img2
{
	width:225px;
	height:300px;
}
.top-row
{
	padding: 10px;
	border: 1px solid #7f7f7f;
	background-color: #fff;
}
label
{
	font-weight: normal !important;
}
.radio-inner, .checkbox-inner
{
	margin-bottom: 5px;
}
label.label-radio , label.label-checkbox{  
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    font-size: 14px;  
    font-family: Helvetica, Arial, sans-serif;
    color: #1a1c1c;
 
}  
input[type="radio"], input[type="checkbox"]
{
	display: none;
}
label.label-radio:before , label.label-checkbox:before{  
    content: "";  
    display: inline-block;   
    width: 17px;  
    height: 17px;   
    margin-right: 10px;  
    position: absolute;  
    left: 0;  
    bottom: 1px;  
    background-color: #fff;  
   border: 1px solid #d2cdcd; 
}  
.radio-outer label.label-radio:before {  
    border-radius: 10px;  
} 
input[type=radio]:checked + label.label-radio:before {  
    content: "\2022";  
    color: #45b5c1;  
    font-size: 40px;  
    text-align: center;  
    vertical-align: middle;
    line-height: 16px;  
}  
.checkbox-outer label.label-checkbox:before {  
    border-radius: 3px;  
}
input[type=checkbox]:checked + label.label-checkbox:before {  
	background: url('../img1/tick.png') no-repeat 25%;
  /*  content: "\2713";    
    font-size: 15px;  
    color: #45b5c1;  
    text-align: center;  
    line-height: 15px;  */
}
/* demo mobile */





.img-demo-outer
{
	width:180px; height:250px;
	background-color: #fff;
	margin-right: 20px;
	float: left;
}
.img-demo-inner
{
	width:180px; height:185px;
	margin-right: 20px;
	float: left;
	
}
.img-demo
{
	background-image: none;
	background-repeat: no-repeat;
	background-size: 100%;
}
.img-nav-outer
{
	margin-top: 5px;
	width:77px; height:85px;
	background-color: #fff;
	float: left;
}
.img-nav-inner
{
	background-image: none;
	background-repeat: no-repeat;
	background-size: 100%;
}
.outer-border
{
	float: left;
	padding: 0px 5px 0px 5px;
}
.img-demo-text
{
	
	text-align: center;
	border-top: 1px solid #b0b0b0;
	font-size: 10px;
	padding:10px 0px 7px 0px;
	
	color: #b0b0b0;
}
@media(min-width:753px)
{
	.col-sm-1,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-sm-10,
	.col-sm-11,.col-sm-12,.col-sm-13,.col-sm-14,.col-sm-15,.col-sm-16,.col-sm-17,.col-sm-18,.col-sm-19,.col-sm-20,
	.col-sm-21,.col-sm-22,.col-sm-23,.col-sm-24,.col-sm-25,.col-sm-26,.col-sm-27,.col-sm-28,.col-sm-29,.col-sm-30,
	.col-sm-31,.col-sm-32,.col-sm-33,.col-sm-34,.col-sm-35,.col-sm-36,.col-sm-37,.col-sm-38,.col-sm-39,.col-sm-40,
	.col-sm-41,.col-sm-42,.col-sm-43,.col-sm-44,.col-sm-45,.col-sm-46,.col-sm-47,.col-sm-48,.col-sm-49,.col-sm-50,
	.col-sm-51,.col-sm-52,.col-sm-53,.col-sm-54,.col-sm-55,.col-sm-56,.col-sm-57,.col-sm-58,.col-sm-59
	{
		float:left;
	}
	.col-sm-1{width:1.666666666666667%;}.col-sm-2{width:3.333333333333333%;}.col-sm-3{width:5%;}
.col-sm-4{width:6.666666666666667%;}.col-sm-5{width:8.333333333333333%;}.col-sm-6{width:10%;}
.col-sm-7{width:11.66666666666667%;}.col-sm-8{width:13.33333333333333%;}.col-sm-9{width:15%;}
.col-sm-10{width:16.66666666666667%;}.col-sm-11{width:18.33333333333333%;}.col-sm-12{width:20%;}
.col-sm-13{width:21.66666666666667%;}.col-sm-14{width:23.33333333333333%;}.col-sm-15{width:25%;}
.col-sm-16{width:26.66666666666667%;}.col-sm-17{width:28.33333333333333%;}.col-sm-18{width:30%;}
.col-sm-19{width:31.66666666666667%;}.col-sm-20{width:33.33333333333333%;}.col-sm-21{width:35%;}
.col-sm-22{width:36.66666666666667%;}.col-sm-23{width:38.33333333333333%;}.col-sm-24{width:40%;}
.col-sm-25{width:41.66666666666667%;}.col-sm-26{width:43.33333333333333%;}.col-sm-27{width:45%;}
.col-sm-28{width:46.66666666666667%;}.col-sm-29{width:48.33333333333333%;}.col-sm-30{width:50%;}
.col-sm-31{width:51.66666666666667%;}.col-sm-32{width:53.33333333333333%;}.col-sm-33{width:55%;}
.col-sm-34{width:56.66666666666667%;}.col-sm-35{width:58.33333333333333%;}.col-sm-36{width:60%;}
.col-sm-37{width:61.66666666666667%;}.col-sm-38{width:63.33333333333333%;}.col-sm-39{width:65%;}
.col-sm-40{width:66.66666666666667%;}.col-sm-41{width:68.33333333333333%;}.col-sm-42{width:70%;}
.col-sm-43{width:71.66666666666667%;}.col-sm-44{width:73.33333333333333%;}.col-sm-45{width:75%;}
.col-sm-46{width:76.66666666666667%;}.col-sm-47{width:78.33333333333333%;}.col-sm-48{width:80%;}
.col-sm-49{width:81.66666666666667%;}.col-sm-50{width:83.33333333333333%;}.col-sm-51{width:85%;}
.col-sm-52{width:86.66666666666667%;}.col-sm-53{width:88.33333333333333%;}.col-sm-54{width:90%;}
.col-sm-55{width:91.66666666666667%;}.col-sm-56{width:93.33333333333333%;}.col-sm-57{width:95%;}
.col-sm-58{width:96.66666666666667%;}.col-sm-59{width:98.33333333333333%;}.col-sm-60{width:100%;}

.col-sm-push-1{left:1.666666666666667%;}.col-sm-push-2{left:3.333333333333333%;}.col-sm-push-3{left:5%;}
.col-sm-push-4{left:6.666666666666667%;}.col-sm-push-5{left:8.333333333333333%;}.col-sm-push-6{left:10%;}
.col-sm-push-7{left:11.66666666666667%;}.col-sm-push-8{left:13.33333333333333%;}.col-sm-push-9{left:15%;}
.col-sm-push-10{left:16.66666666666667%;}.col-sm-push-11{left:18.33333333333333%;}.col-sm-push-12{left:20%;}
.col-sm-push-13{left:21.66666666666667%;}.col-sm-push-14{left:23.33333333333333%;}.col-sm-push-15{left:25%;}
.col-sm-push-16{left:26.66666666666667%;}.col-sm-push-17{left:28.33333333333333%;}.col-sm-push-18{left:30%;}
.col-sm-push-19{left:31.66666666666667%;}.col-sm-push-20{left:33.33333333333333%;}.col-sm-push-21{left:35%;}
.col-sm-push-22{left:36.66666666666667%;}.col-sm-push-23{left:38.33333333333333%;}.col-sm-push-24{left:40%;}
.col-sm-push-25{left:41.66666666666667%;}.col-sm-push-26{left:43.33333333333333%;}.col-sm-push-27{left:45%;}
.col-sm-push-28{left:46.66666666666667%;}.col-sm-push-29{left:48.33333333333333%;}.col-sm-push-30{left:50%;}
.col-sm-push-31{left:51.66666666666667%;}.col-sm-push-32{left:53.33333333333333%;}.col-sm-push-33{left:55%;}
.col-sm-push-34{left:56.66666666666667%;}.col-sm-push-35{left:58.33333333333333%;}.col-sm-push-36{left:60%;}
.col-sm-push-37{left:61.66666666666667%;}.col-sm-push-38{left:63.33333333333333%;}.col-sm-push-39{left:65%;}
.col-sm-push-40{left:66.66666666666667%;}.col-sm-push-41{left:68.33333333333333%;}.col-sm-push-42{left:70%;}
.col-sm-push-43{left:71.66666666666667%;}.col-sm-push-44{left:73.33333333333333%;}.col-sm-push-45{left:75%;}
.col-sm-push-46{left:76.66666666666667%;}.col-sm-push-47{left:78.33333333333333%;}.col-sm-push-48{left:80%;}
.col-sm-push-49{left:81.66666666666667%;}.col-sm-push-50{left:83.33333333333333%;}.col-sm-push-51{left:85%;}
.col-sm-push-52{left:86.66666666666667%;}.col-sm-push-53{left:88.33333333333333%;}.col-sm-push-54{left:90%;}
.col-sm-push-55{left:91.66666666666667%;}.col-sm-push-56{left:93.33333333333333%;}.col-sm-push-57{left:95%;}
.col-sm-push-58{left:96.66666666666667%;}.col-sm-push-59{left:98.33333333333333%;}

.col-sm-pull-1{right:1.666666666666667%;}.col-sm-pull-2{right:3.333333333333333%;} .col-sm-pull-3{right:5%;}
.col-sm-pull-4{right:6.666666666666667%;}.col-sm-pull-5{right:8.333333333333333%;}.col-sm-pull-6{right:10%;}
.col-sm-pull-7{right:11.66666666666667%;}.col-sm-pull-8{right:13.33333333333333%;}.col-sm-pull-9{right:15%;}
.col-sm-pull-10{right:16.66666666666667%;}.col-sm-pull-11{right:18.33333333333333%;}.col-sm-pull-12{right:20%;}
.col-sm-pull-13{right:21.66666666666667%;}.col-sm-pull-14{right:23.33333333333333%;}.col-sm-pull-15{right:25%;}
.col-sm-pull-16{right:26.66666666666667%;}.col-sm-pull-17{right:28.33333333333333%;}.col-sm-pull-18{right:30%;}
.col-sm-pull-19{right:31.66666666666667%;}.col-sm-pull-20{right:33.33333333333333%;}.col-sm-pull-21{right:35%;}
.col-sm-pull-22{right:36.66666666666667%;}.col-sm-pull-23{right:38.33333333333333%;}.col-sm-pull-24{right:40%;}
.col-sm-pull-25{right:41.66666666666667%;}.col-sm-pull-26{right:43.33333333333333%;}.col-sm-pull-27{right:45%;}
.col-sm-pull-28{right:46.66666666666667%;}.col-sm-pull-29{right:48.33333333333333%;}.col-sm-pull-30{right:50%;}
.col-sm-pull-31{right:51.66666666666667%;}.col-sm-pull-32{right:53.33333333333333%;}.col-sm-pull-33{right:55%;}
.col-sm-pull-34{right:56.66666666666667%;}.col-sm-pull-35{right:58.33333333333333%;}.col-sm-pull-36{right:60%;}
.col-sm-pull-37{right:61.66666666666667%;}.col-sm-pull-38{right:63.33333333333333%;}.col-sm-pull-39{right:65%;}
.col-sm-pull-40{right:66.66666666666667%;}.col-sm-pull-41{right:68.33333333333333%;}.col-sm-pull-42{right:70%;}
.col-sm-pull-43{right:71.66666666666667%;}.col-sm-pull-44{right:73.33333333333333%;}.col-sm-pull-45{right:75%;}
.col-sm-pull-46{right:76.66666666666667%;}.col-sm-pull-47{right:78.33333333333333%;}.col-sm-pull-48{right:80%;}
.col-sm-pull-49{right:81.66666666666667%;}.col-sm-pull-50{right:83.33333333333333%;}.col-sm-pull-51{right:85%;}
.col-sm-pull-52{right:86.66666666666667%;}.col-sm-pull-53{right:88.33333333333333%;}.col-sm-pull-54{right:90%;}
.col-sm-pull-55{right:91.66666666666667%;}.col-sm-pull-56{right:93.33333333333333%;}.col-sm-pull-57{right:95%;}
.col-sm-pull-58{right:96.66666666666667%;}.col-sm-pull-59{right:98.33333333333333%;}


.col-sm-offset-1{margin-left:1.666666666666667%;}.col-sm-offset-2{margin-left:3.333333333333333%;}.col-sm-offset-3{margin-left:5%;}
.col-sm-offset-4{margin-left:6.666666666666667%;}.col-sm-offset-5{margin-left:8.333333333333333%;}.col-sm-offset-6{margin-left:10%;}
.col-sm-offset-7{margin-left:11.66666666666667%;}.col-sm-offset-8{margin-left:13.33333333333333%;}.col-sm-offset-9{margin-left:15%;}
.col-sm-offset-10{margin-left:16.66666666666667%;}.col-sm-offset-11{margin-left:18.33333333333333%;}.col-sm-offset-12{margin-left:20%;}
.col-sm-offset-13{margin-left:21.66666666666667%;}.col-sm-offset-14{margin-left:23.33333333333333%;}.col-sm-offset-15{margin-left:25%;}
.col-sm-offset-16{margin-left:26.66666666666667%;}.col-sm-offset-17{margin-left:28.33333333333333%;}.col-sm-offset-18{margin-left:30%;}
.col-sm-offset-19{margin-left:31.66666666666667%;}.col-sm-offset-20{margin-left:33.33333333333333%;}.col-sm-offset-21{margin-left:35%;}
.col-sm-offset-22{margin-left:36.66666666666667%;}.col-sm-offset-23{margin-left:38.33333333333333%;}.col-sm-offset-24{margin-left:40%;}
.col-sm-offset-25{margin-left:41.66666666666667%;}.col-sm-offset-26{margin-left:43.33333333333333%;}.col-sm-offset-27{margin-left:45%;}
.col-sm-offset-28{margin-left:46.66666666666667%;}.col-sm-offset-29{margin-left:48.33333333333333%;}.col-sm-offset-30{margin-left:50%;}
.col-sm-offset-31{margin-left:51.66666666666667%;}.col-sm-offset-32{margin-left:53.33333333333333%;}.col-sm-offset-33{margin-left:55%;}
.col-sm-offset-34{margin-left:56.66666666666667%;}.col-sm-offset-35{margin-left:58.33333333333333%;}.col-sm-offset-36{margin-left:60%;}
.col-sm-offset-37{margin-left:61.66666666666667%;}.col-sm-offset-38{margin-left:63.33333333333333%;}.col-sm-offset-39{margin-left:65%;}
.col-sm-offset-40{margin-left:66.66666666666667%;}.col-sm-offset-41{margin-left:68.33333333333333%;}.col-sm-offset-42{margin-left:70%;}
.col-sm-offset-43{margin-left:71.66666666666667%;}.col-sm-offset-44{margin-left:73.33333333333333%;}.col-sm-offset-45{margin-left:75%;}
.col-sm-offset-46{margin-left:76.66666666666667%;}.col-sm-offset-47{margin-left:78.33333333333333%;}.col-sm-offset-48{margin-left:80%;}
.col-sm-offset-49{margin-left:81.66666666666667%;}.col-sm-offset-50{margin-left:83.33333333333333%;}.col-sm-offset-51{margin-left:85%;}
.col-sm-offset-52{margin-left:86.66666666666667%;}.col-sm-offset-53{margin-left:88.33333333333333%;}.col-sm-offset-54{margin-left:90%;}
.col-sm-offset-55{margin-left:91.66666666666667%;}.col-sm-offset-56{margin-left:93.33333333333333%;}.col-sm-offset-57{margin-left:95%;}
.col-sm-offset-58{margin-left:96.66666666666667%;}.col-sm-offset-59{margin-left:98.33333333333333%;}
.fixed-width
{
	float: none;
 	margin: 0px auto;
}

}

 @media(min-width:992px)
 {
 	
 	.col-md-1,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,
	.col-md-11,.col-md-12,.col-md-13,.col-md-14,.col-md-15,.col-md-16,.col-md-17,.col-md-18,.col-md-19,.col-md-20,
	.col-md-21,.col-md-22,.col-md-23,.col-md-24,.col-md-25,.col-md-26,.col-md-27,.col-md-28,.col-md-29,.col-md-30,
	.col-md-31,.col-md-32,.col-md-33,.col-md-34,.col-md-35,.col-md-36,.col-md-37,.col-md-38,.col-md-39,.col-md-40,
	.col-md-41,.col-md-42,.col-md-43,.col-md-44,.col-md-45,.col-md-46,.col-md-47,.col-md-48,.col-md-49,.col-md-50,
	.col-md-51,.col-md-52,.col-md-53,.col-md-54,.col-md-55,.col-md-56,.col-md-57,.col-md-58,.col-md-59
	{
		float:left;
	}
	.col-md-1{width:1.666666666666667%;}.col-md-2{width:3.333333333333333%;}.col-md-3{width:5%;}
.col-md-4{width:6.666666666666667%;}.col-md-5{width:8.333333333333333%;}.col-md-6{width:10%;}
.col-md-7{width:11.66666666666667%;}.col-md-8{width:13.33333333333333%;}.col-md-9{width:15%;}
.col-md-10{width:16.66666666666667%;}.col-md-11{width:18.33333333333333%;}.col-md-12{width:20%;}
.col-md-13{width:21.66666666666667%;}.col-md-14{width:23.33333333333333%;}.col-md-15{width:25%;}
.col-md-16{width:26.66666666666667%;}.col-md-17{width:28.33333333333333%;}.col-md-18{width:30%;}
.col-md-19{width:31.66666666666667%;}.col-md-20{width:33.33333333333333%;}.col-md-21{width:35%;}
.col-md-22{width:36.66666666666667%;}.col-md-23{width:38.33333333333333%;}.col-md-24{width:40%;}
.col-md-25{width:41.66666666666667%;}.col-md-26{width:43.33333333333333%;}.col-md-27{width:45%;}
.col-md-28{width:46.66666666666667%;}.col-md-29{width:48.33333333333333%;}.col-md-30{width:50%;}
.col-md-31{width:51.66666666666667%;}.col-md-32{width:53.33333333333333%;}.col-md-33{width:55%;}
.col-md-34{width:56.66666666666667%;}.col-md-35{width:58.33333333333333%;}.col-md-36{width:60%;}
.col-md-37{width:61.66666666666667%;}.col-md-38{width:63.33333333333333%;}.col-md-39{width:65%;}
.col-md-40{width:66.66666666666667%;}.col-md-41{width:68.33333333333333%;}.col-md-42{width:70%;}
.col-md-43{width:71.66666666666667%;}.col-md-44{width:73.33333333333333%;}.col-md-45{width:75%;}
.col-md-46{width:76.66666666666667%;}.col-md-47{width:78.33333333333333%;}.col-md-48{width:80%;}
.col-md-49{width:81.66666666666667%;}.col-md-50{width:83.33333333333333%;}.col-md-51{width:85%;}
.col-md-52{width:86.66666666666667%;}.col-md-53{width:88.33333333333333%;}.col-md-54{width:90%;}
.col-md-55{width:91.66666666666667%;}.col-md-56{width:93.33333333333333%;}.col-md-57{width:95%;}
.col-md-58{width:96.66666666666667%;}.col-md-59{width:98.33333333333333%;}.col-md-60{width:100%;}
.col-md-push-0{left:auto}
.col-md-push-1{left:1.666666666666667%;}.col-md-push-2{left:3.333333333333333%;}.col-md-push-3{left:5%;}
.col-md-push-4{left:6.666666666666667%;}.col-md-push-5{left:8.333333333333333%;}.col-md-push-6{left:10%;}
.col-md-push-7{left:11.66666666666667%;}.col-md-push-8{left:13.33333333333333%;}.col-md-push-9{left:15%;}
.col-md-push-10{left:16.66666666666667%;}.col-md-push-11{left:18.33333333333333%;}.col-md-push-12{left:20%;}
.col-md-push-13{left:21.66666666666667%;}.col-md-push-14{left:23.33333333333333%;}.col-md-push-15{left:25%;}
.col-md-push-16{left:26.66666666666667%;}.col-md-push-17{left:28.33333333333333%;}.col-md-push-18{left:30%;}
.col-md-push-19{left:31.66666666666667%;}.col-md-push-20{left:33.33333333333333%;}.col-md-push-21{left:35%;}
.col-md-push-22{left:36.66666666666667%;}.col-md-push-23{left:38.33333333333333%;}.col-md-push-24{left:40%;}
.col-md-push-25{left:41.66666666666667%;}.col-md-push-26{left:43.33333333333333%;}.col-md-push-27{left:45%;}
.col-md-push-28{left:46.66666666666667%;}.col-md-push-29{left:48.33333333333333%;}.col-md-push-30{left:50%;}
.col-md-push-31{left:51.66666666666667%;}.col-md-push-32{left:53.33333333333333%;}.col-md-push-33{left:55%;}
.col-md-push-34{left:56.66666666666667%;}.col-md-push-35{left:58.33333333333333%;}.col-md-push-36{left:60%;}
.col-md-push-37{left:61.66666666666667%;}.col-md-push-38{left:63.33333333333333%;}.col-md-push-39{left:65%;}
.col-md-push-40{left:66.66666666666667%;}.col-md-push-41{left:68.33333333333333%;}.col-md-push-42{left:70%;}
.col-md-push-43{left:71.66666666666667%;}.col-md-push-44{left:73.33333333333333%;}.col-md-push-45{left:75%;}
.col-md-push-46{left:76.66666666666667%;}.col-md-push-47{left:78.33333333333333%;}.col-md-push-48{left:80%;}
.col-md-push-49{left:81.66666666666667%;}.col-md-push-50{left:83.33333333333333%;}.col-md-push-51{left:85%;}
.col-md-push-52{left:86.66666666666667%;}.col-md-push-53{left:88.33333333333333%;}.col-md-push-54{left:90%;}
.col-md-push-55{left:91.66666666666667%;}.col-md-push-56{left:93.33333333333333%;}.col-md-push-57{left:95%;}
.col-md-push-58{left:96.66666666666667%;}.col-md-push-59{left:98.33333333333333%;}
.col-md-pull-0{right:auto}
.col-md-pull-1{right:1.666666666666667%;}.col-md-pull-2{right:3.333333333333333%;}.col-md-pull-3{right:5%;}
.col-md-pull-4{right:6.666666666666667%;}.col-md-pull-5{right:8.333333333333333%;}.col-md-pull-6{right:10%;}
.col-md-pull-7{right:11.66666666666667%;}.col-md-pull-8{right:13.33333333333333%;}.col-md-pull-9{right:15%;}
.col-md-pull-10{right:16.66666666666667%;}.col-md-pull-11{right:18.33333333333333%;}.col-md-pull-12{right:20%;}
.col-md-pull-13{right:21.66666666666667%;}.col-md-pull-14{right:23.33333333333333%;}.col-md-pull-15{right:25%;}
.col-md-pull-16{right:26.66666666666667%;}.col-md-pull-17{right:28.33333333333333%;}.col-md-pull-18{right:30%;}
.col-md-pull-19{right:31.66666666666667%;}.col-md-pull-20{right:33.33333333333333%;}.col-md-pull-21{right:35%;}
.col-md-pull-22{right:36.66666666666667%;}.col-md-pull-23{right:38.33333333333333%;}.col-md-pull-24{right:40%;}
.col-md-pull-25{right:41.66666666666667%;}.col-md-pull-26{right:43.33333333333333%;}.col-md-pull-27{right:45%;}
.col-md-pull-28{right:46.66666666666667%;}.col-md-pull-29{right:48.33333333333333%;}.col-md-pull-30{right:50%;}
.col-md-pull-31{right:51.66666666666667%;}.col-md-pull-32{right:53.33333333333333%;}.col-md-pull-33{right:55%;}
.col-md-pull-34{right:56.66666666666667%;}.col-md-pull-35{right:58.33333333333333%;}.col-md-pull-36{right:60%;}
.col-md-pull-37{right:61.66666666666667%;}.col-md-pull-38{right:63.33333333333333%;}.col-md-pull-39{right:65%;}
.col-md-pull-40{right:66.66666666666667%;}.col-md-pull-41{right:68.33333333333333%;}.col-md-pull-42{right:70%;}
.col-md-pull-43{right:71.66666666666667%;}.col-md-pull-44{right:73.33333333333333%;}.col-md-pull-45{right:75%;}
.col-md-pull-46{right:76.66666666666667%;}.col-md-pull-47{right:78.33333333333333%;}.col-md-pull-48{right:80%;}
.col-md-pull-49{right:81.66666666666667%;}.col-md-pull-50{right:83.33333333333333%;}.col-md-pull-51{right:85%;}
.col-md-pull-52{right:86.66666666666667%;}.col-md-pull-53{right:88.33333333333333%;}.col-md-pull-54{right:90%;}
.col-md-pull-55{right:91.66666666666667%;}.col-md-pull-56{right:93.33333333333333%;}.col-md-pull-57{right:95%;}
.col-md-pull-58{right:96.66666666666667%;}.col-md-pull-59{right:98.33333333333333%;}
.col-md-offset-0{margin-left:0}
.col-md-offset-1{margin-left:1.666666666666667%;}.col-md-offset-2{margin-left:3.333333333333333%;}.col-md-offset-3{margin-left:5%;}
.col-md-offset-4{margin-left:6.666666666666667%;}.col-md-offset-5{margin-left:8.333333333333333%;}.col-md-offset-6{margin-left:10%;}
.col-md-offset-7{margin-left:11.66666666666667%;}.col-md-offset-8{margin-left:13.33333333333333%;}.col-md-offset-9{margin-left:15%;}
.col-md-offset-10{margin-left:16.66666666666667%;}.col-md-offset-11{margin-left:18.33333333333333%;}.col-md-offset-12{margin-left:20%;}
.col-md-offset-13{margin-left:21.66666666666667%;}.col-md-offset-14{margin-left:23.33333333333333%;}.col-md-offset-15{margin-left:25%;}
.col-md-offset-16{margin-left:26.66666666666667%;}.col-md-offset-17{margin-left:28.33333333333333%;}.col-md-offset-18{margin-left:30%;}
.col-md-offset-19{margin-left:31.66666666666667%;}.col-md-offset-20{margin-left:33.33333333333333%;}.col-md-offset-21{margin-left:35%;}
.col-md-offset-22{margin-left:36.66666666666667%;}.col-md-offset-23{margin-left:38.33333333333333%;}.col-md-offset-24{margin-left:40%;}
.col-md-offset-25{margin-left:41.66666666666667%;}.col-md-offset-26{margin-left:43.33333333333333%;}.col-md-offset-27{margin-left:45%;}
.col-md-offset-28{margin-left:46.66666666666667%;}.col-md-offset-29{margin-left:48.33333333333333%;}.col-md-offset-30{margin-left:50%;}
.col-md-offset-31{margin-left:51.66666666666667%;}.col-md-offset-32{margin-left:53.33333333333333%;}.col-md-offset-33{margin-left:55%;}
.col-md-offset-34{margin-left:56.66666666666667%;}.col-md-offset-35{margin-left:58.33333333333333%;}.col-md-offset-36{margin-left:60%;}
.col-md-offset-37{margin-left:61.66666666666667%;}.col-md-offset-38{margin-left:63.33333333333333%;}.col-md-offset-39{margin-left:65%;}
.col-md-offset-40{margin-left:66.66666666666667%;}.col-md-offset-41{margin-left:68.33333333333333%;}.col-md-offset-42{margin-left:70%;}
.col-md-offset-43{margin-left:71.66666666666667%;}.col-md-offset-44{margin-left:73.33333333333333%;}.col-md-offset-45{margin-left:75%;}
.col-md-offset-46{margin-left:76.66666666666667%;}.col-md-offset-47{margin-left:78.33333333333333%;}.col-md-offset-48{margin-left:80%;}
.col-md-offset-49{margin-left:81.66666666666667%;}.col-md-offset-50{margin-left:83.33333333333333%;}.col-md-offset-51{margin-left:85%;}
.col-md-offset-52{margin-left:86.66666666666667%;}.col-md-offset-53{margin-left:88.33333333333333%;}.col-md-offset-54{margin-left:90%;}
.col-md-offset-55{margin-left:91.66666666666667%;}.col-md-offset-56{margin-left:93.33333333333333%;}.col-md-offset-57{margin-left:95%;}
.col-md-offset-58{margin-left:96.66666666666667%;}.col-md-offset-59{margin-left:98.33333333333333%;}
.fixed-width
{
	float: none;
 	margin: 0px auto;
 	width:980px;
}
  
}
@media(min-width:1200px)
{
	
	
	.col-lg-1,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-lg-10,
	.col-lg-11,.col-lg-12,.col-lg-13,.col-lg-14,.col-lg-15,.col-lg-16,.col-lg-17,.col-lg-18,.col-lg-19,.col-lg-20,
	.col-lg-21,.col-lg-22,.col-lg-23,.col-lg-24,.col-lg-25,.col-lg-26,.col-lg-27,.col-lg-28,.col-lg-29,.col-lg-30,
	.col-lg-31,.col-lg-32,.col-lg-33,.col-lg-34,.col-lg-35,.col-lg-36,.col-lg-37,.col-lg-38,.col-lg-39,.col-lg-40,
	.col-lg-41,.col-lg-42,.col-lg-43,.col-lg-44,.col-lg-45,.col-lg-46,.col-lg-47,.col-lg-48,.col-lg-49,.col-lg-50,
	.col-lg-51,.col-lg-52,.col-lg-53,.col-lg-54,.col-lg-55,.col-lg-56,.col-lg-57,.col-lg-58,.col-lg-59
	{
		float:left;
	}
	.col-lg-1{width:1.666666666666667%;}.col-lg-2{width:3.333333333333333%;}.col-lg-3{width:5%;}
.col-lg-4{width:6.666666666666667%;}.col-lg-5{width:8.333333333333333%;}.col-lg-6{width:10%;}
.col-lg-7{width:11.66666666666667%;}.col-lg-8{width:13.33333333333333%;}.col-lg-9{width:15%;}
.col-lg-10{width:16.66666666666667%;}.col-lg-11{width:18.33333333333333%;}.col-lg-12{width:20%;}
.col-lg-13{width:21.66666666666667%;}.col-lg-14{width:23.33333333333333%;}.col-lg-15{width:25%;}
.col-lg-16{width:26.66666666666667%;}.col-lg-17{width:28.33333333333333%;}.col-lg-18{width:30%;}
.col-lg-19{width:31.66666666666667%;}.col-lg-20{width:33.33333333333333%;}.col-lg-21{width:35%;}
.col-lg-22{width:36.66666666666667%;}.col-lg-23{width:38.33333333333333%;}.col-lg-24{width:40%;}
.col-lg-25{width:41.66666666666667%;}.col-lg-26{width:43.33333333333333%;}.col-lg-27{width:45%;}
.col-lg-28{width:46.66666666666667%;}.col-lg-29{width:48.33333333333333%;}.col-lg-30{width:50%;}
.col-lg-31{width:51.66666666666667%;}.col-lg-32{width:53.33333333333333%;}.col-lg-33{width:55%;}
.col-lg-34{width:56.66666666666667%;}.col-lg-35{width:58.33333333333333%;}.col-lg-36{width:60%;}
.col-lg-37{width:61.66666666666667%;}.col-lg-38{width:63.33333333333333%;}.col-lg-39{width:65%;}
.col-lg-40{width:66.66666666666667%;}.col-lg-41{width:68.33333333333333%;}.col-lg-42{width:70%;}
.col-lg-43{width:71.66666666666667%;}.col-lg-44{width:73.33333333333333%;}.col-lg-45{width:75%;}
.col-lg-46{width:76.66666666666667%;}.col-lg-47{width:78.33333333333333%;}.col-lg-48{width:80%;}
.col-lg-49{width:81.66666666666667%;}.col-lg-50{width:83.33333333333333%;}.col-lg-51{width:85%;}
.col-lg-52{width:86.66666666666667%;}.col-lg-53{width:88.33333333333333%;}.col-lg-54{width:90%;}
.col-lg-55{width:91.66666666666667%;}.col-lg-56{width:93.33333333333333%;}.col-lg-57{width:95%;}
.col-lg-58{width:96.66666666666667%;}.col-lg-59{width:98.33333333333333%;}.col-lg-60{width:100%;}
.col-lg-push-0{left:auto}
.col-lg-push-1{left:1.666666666666667%;}.col-lg-push-2{left:3.333333333333333%;}.col-lg-push-3{left:5%;}
.col-lg-push-4{left:6.666666666666667%;}.col-lg-push-5{left:8.333333333333333%;}.col-lg-push-6{left:10%;}
.col-lg-push-7{left:11.66666666666667%;}.col-lg-push-8{left:13.33333333333333%;}.col-lg-push-9{left:15%;}
.col-lg-push-10{left:16.66666666666667%;}.col-lg-push-11{left:18.33333333333333%;}.col-lg-push-12{left:20%;}
.col-lg-push-13{left:21.66666666666667%;}.col-lg-push-14{left:23.33333333333333%;}.col-lg-push-15{left:25%;}
.col-lg-push-16{left:26.66666666666667%;}.col-lg-push-17{left:28.33333333333333%;}.col-lg-push-18{left:30%;}
.col-lg-push-19{left:31.66666666666667%;}.col-lg-push-20{left:33.33333333333333%;}.col-lg-push-21{left:35%;}
.col-lg-push-22{left:36.66666666666667%;}.col-lg-push-23{left:38.33333333333333%;}.col-lg-push-24{left:40%;}
.col-lg-push-25{left:41.66666666666667%;}.col-lg-push-26{left:43.33333333333333%;}.col-lg-push-27{left:45%;}
.col-lg-push-28{left:46.66666666666667%;}.col-lg-push-29{left:48.33333333333333%;}.col-lg-push-30{left:50%;}
.col-lg-push-31{left:51.66666666666667%;}.col-lg-push-32{left:53.33333333333333%;}.col-lg-push-33{left:55%;}
.col-lg-push-34{left:56.66666666666667%;}.col-lg-push-35{left:58.33333333333333%;}.col-lg-push-36{left:60%;}
.col-lg-push-37{left:61.66666666666667%;}.col-lg-push-38{left:63.33333333333333%;}.col-lg-push-39{left:65%;}
.col-lg-push-40{left:66.66666666666667%;}.col-lg-push-41{left:68.33333333333333%;}.col-lg-push-42{left:70%;}
.col-lg-push-43{left:71.66666666666667%;}.col-lg-push-44{left:73.33333333333333%;}.col-lg-push-45{left:75%;}
.col-lg-push-46{left:76.66666666666667%;}.col-lg-push-47{left:78.33333333333333%;}.col-lg-push-48{left:80%;}
.col-lg-push-49{left:81.66666666666667%;}.col-lg-push-50{left:83.33333333333333%;}.col-lg-push-51{left:85%;}
.col-lg-push-52{left:86.66666666666667%;}.col-lg-push-53{left:88.33333333333333%;}.col-lg-push-54{left:90%;}
.col-lg-push-55{left:91.66666666666667%;}.col-lg-push-56{left:93.33333333333333%;}.col-lg-push-57{left:95%;}
.col-lg-push-58{left:96.66666666666667%;}.col-lg-push-59{left:98.33333333333333%;}
.col-lg-pull-0{right:auto}
.col-lg-pull-1{right:1.666666666666667%;}.col-lg-pull-2{right:3.333333333333333%;}.col-lg-pull-3{right:5%;}
.col-lg-pull-4{right:6.666666666666667%;}.col-lg-pull-5{right:8.333333333333333%;}.col-lg-pull-6{right:10%;}
.col-lg-pull-7{right:11.66666666666667%;}.col-lg-pull-8{right:13.33333333333333%;}.col-lg-pull-9{right:15%;}
.col-lg-pull-10{right:16.66666666666667%;}.col-lg-pull-11{right:18.33333333333333%;}.col-lg-pull-12{right:20%;}
.col-lg-pull-13{right:21.66666666666667%;}.col-lg-pull-14{right:23.33333333333333%;}.col-lg-pull-15{right:25%;}
.col-lg-pull-16{right:26.66666666666667%;}.col-lg-pull-17{right:28.33333333333333%;}.col-lg-pull-18{right:30%;}
.col-lg-pull-19{right:31.66666666666667%;}.col-lg-pull-20{right:33.33333333333333%;}.col-lg-pull-21{right:35%;}
.col-lg-pull-22{right:36.66666666666667%;}.col-lg-pull-23{right:38.33333333333333%;}.col-lg-pull-24{right:40%;}
.col-lg-pull-25{right:41.66666666666667%;}.col-lg-pull-26{right:43.33333333333333%;}.col-lg-pull-27{right:45%;}
.col-lg-pull-28{right:46.66666666666667%;}.col-lg-pull-29{right:48.33333333333333%;}.col-lg-pull-30{right:50%;}
.col-lg-pull-31{right:51.66666666666667%;}.col-lg-pull-32{right:53.33333333333333%;}.col-lg-pull-33{right:55%;}
.col-lg-pull-34{right:56.66666666666667%;}.col-lg-pull-35{right:58.33333333333333%;}.col-lg-pull-36{right:60%;}
.col-lg-pull-37{right:61.66666666666667%;}.col-lg-pull-38{right:63.33333333333333%;}.col-lg-pull-39{right:65%;}
.col-lg-pull-40{right:66.66666666666667%;}.col-lg-pull-41{right:68.33333333333333%;}.col-lg-pull-42{right:70%;}
.col-lg-pull-43{right:71.66666666666667%;}.col-lg-pull-44{right:73.33333333333333%;}.col-lg-pull-45{right:75%;}
.col-lg-pull-46{right:76.66666666666667%;}.col-lg-pull-47{right:78.33333333333333%;}.col-lg-pull-48{right:80%;}
.col-lg-pull-49{right:81.66666666666667%;}.col-lg-pull-50{right:83.33333333333333%;}.col-lg-pull-51{right:85%;}
.col-lg-pull-52{right:86.66666666666667%;}.col-lg-pull-53{right:88.33333333333333%;}.col-lg-pull-54{right:90%;}
.col-lg-pull-55{right:91.66666666666667%;}.col-lg-pull-56{right:93.33333333333333%;}.col-lg-pull-57{right:95%;}
.col-lg-pull-58{right:96.66666666666667%;}.col-lg-pull-59{right:98.33333333333333%;}
.col-lg-offset-0{margin-left:0}
.col-lg-offset-1{margin-left:1.666666666666667%;}.col-lg-offset-2{margin-left:3.333333333333333%;}.col-lg-offset-3{margin-left:5%;}
.col-lg-offset-4{margin-left:6.666666666666667%;}.col-lg-offset-5{margin-left:8.333333333333333%;}.col-lg-offset-6{margin-left:10%;}
.col-lg-offset-7{margin-left:11.66666666666667%;}.col-lg-offset-8{margin-left:13.33333333333333%;}.col-lg-offset-9{margin-left:15%;}
.col-lg-offset-10{margin-left:16.66666666666667%;}.col-lg-offset-11{margin-left:18.33333333333333%;}.col-lg-offset-12{margin-left:20%;}
.col-lg-offset-13{margin-left:21.66666666666667%;}.col-lg-offset-14{margin-left:23.33333333333333%;}.col-lg-offset-15{margin-left:25%;}
.col-lg-offset-16{margin-left:26.66666666666667%;}.col-lg-offset-17{margin-left:28.33333333333333%;}.col-lg-offset-18{margin-left:30%;}
.col-lg-offset-19{margin-left:31.66666666666667%;}.col-lg-offset-20{margin-left:33.33333333333333%;}.col-lg-offset-21{margin-left:35%;}
.col-lg-offset-22{margin-left:36.66666666666667%;}.col-lg-offset-23{margin-left:38.33333333333333%;}.col-lg-offset-24{margin-left:40%;}
.col-lg-offset-25{margin-left:41.66666666666667%;}.col-lg-offset-26{margin-left:43.33333333333333%;}.col-lg-offset-27{margin-left:45%;}
.col-lg-offset-28{margin-left:46.66666666666667%;}.col-lg-offset-29{margin-left:48.33333333333333%;}.col-lg-offset-30{margin-left:50%;}
.col-lg-offset-31{margin-left:51.66666666666667%;}.col-lg-offset-32{margin-left:53.33333333333333%;}.col-lg-offset-33{margin-left:55%;}
.col-lg-offset-34{margin-left:56.66666666666667%;}.col-lg-offset-35{margin-left:58.33333333333333%;}.col-lg-offset-36{margin-left:60%;}
.col-lg-offset-37{margin-left:61.66666666666667%;}.col-lg-offset-38{margin-left:63.33333333333333%;}.col-lg-offset-39{margin-left:65%;}
.col-lg-offset-40{margin-left:66.66666666666667%;}.col-lg-offset-41{margin-left:68.33333333333333%;}.col-lg-offset-42{margin-left:70%;}
.col-lg-offset-43{margin-left:71.66666666666667%;}.col-lg-offset-44{margin-left:73.33333333333333%;}.col-lg-offset-45{margin-left:75%;}
.col-lg-offset-46{margin-left:76.66666666666667%;}.col-lg-offset-47{margin-left:78.33333333333333%;}.col-lg-offset-48{margin-left:80%;}
.col-lg-offset-49{margin-left:81.66666666666667%;}.col-lg-offset-50{margin-left:83.33333333333333%;}.col-lg-offset-51{margin-left:85%;}
.col-lg-offset-52{margin-left:86.66666666666667%;}.col-lg-offset-53{margin-left:88.33333333333333%;}.col-lg-offset-54{margin-left:90%;}
.col-lg-offset-55{margin-left:91.66666666666667%;}.col-lg-offset-56{margin-left:93.33333333333333%;}.col-lg-offset-57{margin-left:95%;}
.col-lg-offset-58{margin-left:96.66666666666667%;}.col-lg-offset-59{margin-left:98.33333333333333%;}



}

