.container1
{
	
	padding: 40px 0px 0px 0px;
	font-size: 14px;
	font-family: Arial;
	width:980px;
	margin : 0px auto;
	margin-bottom:40px;
}

.wrapperHz
{
	width: 768px;
	
}
 .contHz
{
	float:left;
	width:770px;
	border:1px solid #a3a3a3;
	border-radius: 5px;
	
	
	
}
.wrapperVt
{
	width:150px;
	/*height: 482px;*/
	/*height: 460px;*/
	height: 580px;

}
.contVt
{
	width:200px;
	float: left;
	/*height: 573px;*/
	height: 659px;
	border:1px solid #a3a3a3;
	border-radius: 5px;
	margin-right: 10px;
	
	
	
}
.slideVt
{
.width:180px; 
height:400px;
float: left;
margin-top:0px;

}
.headLeftHz
{
	float: left;
	width:686px;
	padding: 20px 40px;
	background-color:#ff9999;
	color: #fff;
	
	
}
.control, .control1
{
	background-color: #ff9999;
	padding-top: 20px;
	padding-bottom: 21px;
}
.controlvt1
{
	background-color: #ff9999;
	padding-top: 20px;
	padding-bottom:20px;
	
}
.controlvt2
{
	background-color: #ff9999;
	padding-top: 20px;
	padding-bottom:20px;
	
}
.controlvt3
{
	background-color: #ff9999;
	padding-top: 20px;
	padding-right:20px;
	padding-bottom:20px;
}
.controlvt4
{
	background-color: #ff9999;
	padding-top: 20px;
	padding-right:20px;
	padding-bottom:20px;
}
.headLeftVt
{
	float: left;
	width:146px;
	padding: 20px 0px 16px 20px;
	background-color: #ff9999;
	color: #fff;
}
.slideHz
{
	float: left;
	width:810px;	
}

.imgContainer
{
	float: left; 
	width:155px;
	-webkit-zoom: reset;
	background-color: #fff;
	border-right: 1px solid gray;
}

.img
{
	background: url(../img1/20131129-122137-tops-icons.jpg) no-repeat 50%;

	
	width: 154px;
	height: 130px;
	float: left;
	-webkit-zoom: reset;
	
}
.img1
{
	background: url(../img1/20131129-122137-flats-icons.jpg) no-repeat 50%;
	
	
	width: 154px;
	height: 130px;
	float: left;
	-webkit-zoom: reset;
}
.img2
{
	background: url(../img1/20131129-122137-bags-icons.jpg) no-repeat 50%;
	
	width: 154px;
	height: 130px;
	float: left;
	-webkit-zoom: reset;
	
}
.img3
{
	background: url(../img1/20131129-122137-tops-icons-new.jpg) no-repeat 50%;
	
	width: 60px;
	height: 47px;
	float: left;
	-webkit-zoom: reset;
	
}
.img4
{
	background: url(../img1/20131129-122137-flats-icons-new.jpg) no-repeat 50%;
	
	width: 60px;
	height: 47px;
	float: left;
	-webkit-zoom: reset;
	
}
.img5
{
	background: url(../img1/20131129-122137-bags-icons-new.jpg) no-repeat 50%;
	
	width: 60px;
	height: 47px;
	float: left;
	-webkit-zoom: reset;
	
}
.grayText, .grayText1
{
	float: left;
	margin:10px 0px 10px 0px;
	color: #666;
	font-size: 13px;
	padding: 0px 10px;
	text-align: center;
}
.grayText1
{
	width:138px;
	margin-top: 15px;
}
.price
{
	float: left;
	width: 130px;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	padding: 2px 0px 2px 0px;
	margin-bottom:20px;
	font-size: 13px;
	font-weight: bold;
	color: #222;
}
.space
{
	float: left; 
	width: 20px;
	min-height: 200px;
}
.class1
{
	font-size:15px; font-weight: bold;
	color: #fff;float: left; width:auto;
}
.class2
{
	font-size: 11px;
	color: #999;
	float: left;
	padding-left: 15px;
	padding-top: 3px;
}
/*

@media (min-width: 1200px) { 
	
	.img
{
	background: url(../img1/OTC_RGB_200x200.gif);
	border: 0px;
	width: 130px;
	height: 130px;
	float: left;
	
}
.img1
{
	background: url(../img1/Cat-dunecat-lg_(200_x_200).jpeg);
	background-color: gray;
	border: 0px;
	width: 130px;
	height: 130px;
	float: left;
}
.img2
{
	background: url(../img1/cotton_t_shirt_200_grams.jpeg);
	background-color: gray;
	border: 0px;
	width: 130px;
	height: 130px;
	float: left;
	
}
	
	
	
	 }
	 */
